body {
  background-color: #fff8ec;
  margin: 0;
  font-size: large;
  font-family: monospace;
}

p {
  padding: 0;
  margin: 0;
}

ul {
  padding: 0;
  padding-left: 2ch;
  margin: 0;
}

.ascii-container {
  position: relative;
  display: inline-block;
}

.border {
  position: absolute;
  top: 0;
  left: 0;
  margin: 0;
}

.window-background-fill {
  width: 100%;
  height: calc(100% - 2ch);
  background-color: white;
  z-index: -1;
  margin-top: 1ch;
}

.bordered-window {
  position: relative;
  display: block;
  box-sizing: border-box;
  margin: 0;
  padding: 2ch;
  padding-right: 1.5ch;
}

.bordered-header {
  position: relative;
  display: block;
  box-sizing: border-box;
  margin: 0;
  padding-left: 2ch;
  padding-top: 2.25ch;
  padding-right: 2ch;
  padding-bottom: 1ch;
}

.bordered-button {
  position: relative;
  align-self: center;
  z-index: 0;
  display: inline-block;
  padding-left: 2ch;
  margin: 0;
  margin-bottom: 1ch;
}

.ascii-window {
  display: flex;
  flex-direction: column;
}

.ascii-header {
  display: flex;
  justify-content: space-between;
  width: 127ch;
  margin-bottom: 1ch;
}

.ascii-button {
  position: relative;
  z-index: 1;
  text-decoration: none;
  padding: 0;
  margin: 0;
  color: black;
}

.ascii-button:hover {
  cursor: pointer;
  color: white;
}

.ascii-art {
  font-family: monospace;
  white-space: pre;
  justify-self: center;
}

.side-by-side {
  display: flex;
  justify-content: center;
}

.vertical-stack {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.vertical-spaced-stack {
  display: flex;
  flex-direction: column;
  gap: 1ch;
}

.vertical-bigger-spaced-stack {
  display: flex;
  flex-direction: column;
  gap: 2ch;
}

.square {
  aspect-ratio: 1 / 1;
}

.horizontal-stack {
  display: flex;
  width: 130ch;
  gap: 2ch;
}

.horizontal-group {
  display: flex;
  gap: 2ch;
}

.vertical-group {
  display: flex;
  flex-direction: column;
}

.ascii-flex {
  align-self: flex-end;
}

.flex1 {
  flex: 1;
}

.flex2 {
  flex: 2;
}

.flex3 {
  flex: 3;
}

.right {
  justify-content: flex-end;
}

.center-self {
  align-self: center;
  margin: 0;
}

.bottom-corner {
  justify-self: flex-end;
  align-items: flex-end;
}

.window-innards {
  display: flex;
  flex-direction: column;
  gap: 2ch;
}

.inline-link {
  text-decoration: none;
  color: black;
}

.inline-link:hover {
  text-decoration: underline;
}

.window-header {
  margin-bottom: 1.5ch;
}

.scroll {
  overflow: auto;
  height: 28ch;
  scrollbar-width: none;
}

.scroll-bar {
  width: 1ch;
  white-space: pre;
  writing-mode: vertical-rl;
  text-orientation: upright;
}
.no-indent-list {
  padding: 0;
  margin: 0;
  list-style: disc;
  margin-left: 20px;
}

.disabled {
  display: none;
}

.construction-zone {
}

.calendar {
  width: 30ch;
  height: 25ch;
}

.thought-header {
  display: flex;
  justify-content: space-between;
  margin-bottom: 1ch;
}
