body {
  background-color: #fff8ec;
  margin: 0;
  font-size: medium;
  font-family: monospace;
}

p {
  padding: 0;
  margin: 0;
}

.ascii-container {
  position: relative;
  display: inline-block;
}

.border {
  position: absolute;
  top: 0;
  left: 0;
  margin: 0;
}

.bordered-window {
  position: relative;
  display: block;
  box-sizing: border-box;
  margin: 0;
  padding-left: 3ch;
  padding-top: 3ch;
  padding-right: 2ch;
  padding-bottom: 1ch;
}

.bordered-header {
  position: relative;
  display: block;
  box-sizing: border-box;
  margin: 0;
  padding-left: 2ch;
  padding-top: 2.25ch;
  padding-right: 1ch;
  padding-bottom: 1ch;
}

.bordered-button {
  position: relative;
  z-index: 0;
  display: inline-block;
  padding-left: 2ch;
  margin: 0;
}

.ascii-window {
}

.ascii-header {
  display: flex;
  justify-content: space-between;
}

.ascii-button {
  position: relative;
  z-index: 1;
  text-decoration: none;
  padding: 0;
  margin: 0;
  color: black;
}

.ascii-button:hover {
  cursor: pointer;
  color: white;
}

.header {
  font-size: medium;
  font-family: monospace;
  width: 60vw;
  margin: 0 auto;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding-left: 1ch;
  padding-top: 2ch;
}

.ascii-art {
  font-family: monospace;
  white-space: pre;
  justify-self: center;
}

.side-by-side {
  display: flex;
  gap: 20px;
}

.side-by-side-no-gap {
  display: flex;
}

.vertical-stack {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 2ch;
}

.square {
  aspect-ratio: 1 / 1;
}

.max-width {
  width: 37ch;
}

.horizontal-stack {
  display: flex;
  width: 150ch;
  gap: 2ch;
}

.horizontal {
  display: flex;
  gap: 2ch;
}

.ascii-flex {
  align-self: flex-end;
}

.window-test {
  border: 2px solid black;
}

.flex1 {
  flex: 1;
}

.flex2 {
  flex: 2;
}

.flex3 {
  flex: 3;
}

.right {
  justify-content: flex-end;
}

.container {
  background-color: greenyellow;
  display: flex;
}

.center-self {
  justify-self: center;
  margin: 0;
}

.bottom-corner {
  justify-self: flex-end;
  align-items: flex-end;
}

.scroll {
  overflow: auto;
  height: 100px;
  scrollbar-width: none;
}

#scroll-bar {
  width: 1ch;
  white-space: pre;
  writing-mode: vertical-rl;
  text-orientation: upright;
}
.no-indent-list {
  padding: 0;
  margin: 0;
  list-style: disc;
  margin-left: 20px;
}

.disabled {
  display: none;
}

.construction-zone {
}

.calendar {
  width: 30ch;
  height: 25ch;
}
