body {
  background-color: #fff8ec;
}

.ascii-container {
  position: relative;
  display: inline-block;
}

.wrapper {
  display: flex;
  justify-content: center;
  align-items: center;
}

.border {
  margin: 0;
}
.window {
  position: absolute;
  font-size: medium;
  font-family: monospace;
  padding: 0px 20px;
}

.header {
  position: absolute;
  font-size: medium;
  font-family: monospace;
  padding: 0px 20px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.ascii-art {
  font-family: monospace;
  white-space: pre;
}

.fill-horizontal {
  width: 100%;
}
